In [1]:
import pandas as pd
import numpy as np

In [2]:
dc_listings = pd.read_csv("dc_airbnb.csv")

In [3]:
dc_listings["price"] = dc_listings["price"].str.strip("$").str.replace(",","").astype(float)

In [4]:
np.random.seed(1)

shuffle_index = np.random.permutation(len(dc_listings))
dc_listings = dc_listings.loc[shuffle_index]

In [5]:
dc_listings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3723 entries, 574 to 1061
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   host_response_rate    3289 non-null   object
 1   host_acceptance_rate  3109 non-null   object
 2   host_listings_count   3723 non-null   int64
 3   accommodates          3723 non-null   int64
 4   room_type             3723 non-null   object
 5   bedrooms              3702 non-null   float64
 6   bathrooms             3696 non-null   float64
 7   beds                  3712 non-null   float64
 8   price                 3723 non-null   float64
 9   cleaning_fee          2335 non-null   object
 10  security_deposit      1426 non-null   object
 11  minimum_nights        3723 non-null   int64
 12  maximum_nights        3723 non-null   int64
 13  number_of_reviews     3723 non-null   int64
 14  latitude              3723 non-null   float64
 15  longitude             3723 non-null   float64
 16  city                  3723 non-null   object
 17  zipcode               3714 non-null   object
 18  state                 3723 non-null   object
dtypes: float64(6), int64(5), object(8)
memory usage: 581.7+ KB

In [6]:
# Remove Columns

cols = ["host_response_rate","host_acceptance_rate","host_listings_count",\
       "room_type","city","state","latitude","longitude","zipcode"]

In [7]:
dc_listings.drop(cols, axis = 1, inplace = True)

In [8]:
dc_listings.isnull().sum()

accommodates            0
bedrooms               21
bathrooms              27
beds                   11
price                   0
cleaning_fee         1388
security_deposit     2297
minimum_nights          0
maximum_nights          0
number_of_reviews       0
dtype: int64

In [9]:
dc_listings.shape

(3723, 10)

In [10]:
3723 - 2297

1426

In [11]:
dc_listings = dc_listings.drop(["cleaning_fee","security_deposit"], axis = 1)

In [12]:
dc_listings.isnull().sum()

accommodates          0
bedrooms             21
bathrooms            27
beds                 11
price                 0
minimum_nights        0
maximum_nights        0
number_of_reviews     0
dtype: int64

In [13]:
dc_listings.dropna(inplace=True)

In [14]:
dc_listings.isnull().sum()

accommodates         0
bedrooms             0
bathrooms            0
beds                 0
price                0
minimum_nights       0
maximum_nights       0
number_of_reviews    0
dtype: int64

In [15]:
dc_listings

,accommodates,bedrooms,bathrooms,beds,price,minimum_nights,maximum_nights,number_of_reviews
574,2,1.0,1.0,1.0,125.0,1,4,149
1593,2,1.0,1.5,1.0,85.0,1,30,49
3091,1,1.0,0.5,1.0,50.0,1,1125,1
420,2,1.0,1.0,1.0,209.0,4,730,2
808,12,5.0,2.0,5.0,215.0,2,1825,34
...,...,...,...,...,...,...,...,...
2763,1,0.0,1.0,1.0,75.0,4,20,1
905,1,0.0,1.0,1.0,95.0,5,1125,0
1096,2,1.0,0.0,1.0,100.0,1,1125,15
235,8,2.0,1.0,4.0,194.0,1,1125,8
1061,6,1.0,2.5,6.0,36.0,2,30,7

In [16]:
normalized_listings = (dc_listings - dc_listings.mean())/dc_listings.std()
normalized_listings

,accommodates,bedrooms,bathrooms,beds,price,minimum_nights,maximum_nights,number_of_reviews
574,-0.596544,-0.249467,-0.439151,-0.546858,-0.173345,-0.341375,-0.016604,4.579650
1593,-0.596544,-0.249467,0.412923,-0.546858,-0.464148,-0.341375,-0.016603,1.159275
3091,-1.095499,-0.249467,-1.291226,-0.546858,-0.718601,-0.341375,-0.016573,-0.482505
420,-0.596544,-0.249467,-0.439151,-0.546858,0.437342,0.487635,-0.016584,-0.448301
808,4.393004,4.507903,1.264998,2.829956,0.480962,-0.065038,-0.016553,0.646219
...,...,...,...,...,...,...,...,...
2763,-1.095499,-1.438810,-0.439151,-0.546858,-0.536849,0.487635,-0.016604,-0.482505
905,-1.095499,-1.438810,-0.439151,-0.546858,-0.391448,0.763971,-0.016573,-0.516709
1096,-0.596544,-0.249467,-2.143301,-0.546858,-0.355097,-0.341375,-0.016573,-0.003652
235,2.397185,0.939875,-0.439151,1.985752,0.328290,-0.341375,-0.016573,-0.243079
1061,1.399275,-0.249467,2.117072,3.674159,-0.820382,-0.065038,-0.016603,-0.277282

In [25]:
normalized_listings["price"] = dc_listings["price"]
normalized_listings.head()

,accommodates,bedrooms,bathrooms,beds,price,minimum_nights,maximum_nights,number_of_reviews
574,-0.596544,-0.249467,-0.439151,-0.546858,125.0,-0.341375,-0.016604,4.579650
1593,-0.596544,-0.249467,0.412923,-0.546858,85.0,-0.341375,-0.016603,1.159275
3091,-1.095499,-0.249467,-1.291226,-0.546858,50.0,-0.341375,-0.016573,-0.482505
420,-0.596544,-0.249467,-0.439151,-0.546858,209.0,0.487635,-0.016584,-0.448301
808,4.393004,4.507903,1.264998,2.829956,215.0,-0.065038,-0.016553,0.646219

In [17]:
# from scipy.spatial import distance

In [18]:
from sklearn.neighbors import KNeighborsRegressor

In [22]:
normalized_listings.shape[0]*.75

2753.25

In [26]:
train_df = normalized_listings.iloc[2753:]
test_df = normalized_listings.iloc[:2753]

In [24]:
train_columns = ["accommodates","bedrooms"]
target_column = ["price"]

KNeighborsRegressor(algorithm='brute')

In [29]:
predictions = knn.predict(test_df[train_columns])
predictions[:5]

array([[ 73. ],
       [ 73. ],
       [323. ],
       [ 73. ],
       [766.8]])

In [30]:
from sklearn.metrics import mean_squared_error

In [31]:
mse = mean_squared_error(test_df[target_column],predictions)
rmse = np.sqrt(mse)
rmse

139.18895988134776

In [32]:
normalized_listings.columns

Index(['accommodates', 'bedrooms', 'bathrooms', 'beds', 'price',
       'minimum_nights', 'maximum_nights', 'number_of_reviews'],
      dtype='object')

In [33]:
train_columns = ["accommodates","bedrooms","bathrooms"]
target_column = ["price"]

In [34]:
knn = KNeighborsRegressor(n_neighbors=5, algorithm="brute")
knn.fit(train_df[train_columns], train_df[target_column])
predictions = knn.predict(test_df[train_columns])
mse = mean_squared_error(test_df[target_column],predictions)
rmse = np.sqrt(mse)
rmse

129.2007840564411

In [36]:
train_columns = ["accommodates","bedrooms","bathrooms","number_of_reviews"]
target_column = ["price"]

In [37]:
knn = KNeighborsRegressor(n_neighbors=5, algorithm="brute")
knn.fit(train_df[train_columns], train_df[target_column])
predictions = knn.predict(test_df[train_columns])
mse = mean_squared_error(test_df[target_column],predictions)
rmse = np.sqrt(mse)
rmse

111.05191319661124

In [44]:
train_columns = ['accommodates', 'bedrooms', 'bathrooms', 'beds', 'maximum_nights', 'number_of_reviews']
target_column = ["price"]

In [45]:
knn = KNeighborsRegressor(n_neighbors=5, algorithm="brute")
knn.fit(train_df[train_columns], train_df[target_column])
predictions = knn.predict(test_df[train_columns])
mse = mean_squared_error(test_df[target_column],predictions)
rmse = np.sqrt(mse)
rmse

108.66111029556403

In [46]:
k = [3,5,7,9,11,13,15]
rmses = []

for i in k:
    knn = KNeighborsRegressor(n_neighbors=i, algorithm="brute")
    knn.fit(train_df[train_columns], train_df[target_column])
    predictions = knn.predict(test_df[train_columns])
    mse = mean_squared_error(test_df[target_column],predictions)
    rmse = np.sqrt(mse)
    rmses.append(rmse)

In [47]:
rmses

[112.94095162652205,
 108.66111029556403,
 109.09777396653915,
 109.8454150057547,
 109.07703500972818,
 108.97571531212823,
 109.0626078344667]